<div class='invites-container'>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Invite a new user for your room <%= link_to 'Reload Users', reload_users_invites_path(id: params[:id]), remote: true, method: :get %></div>
      <div class="panel-body">
        <%= form_with model: @invite, url: :invites, method: :post do |f| %>
          <%= f.hidden_field :session_vote_id, value: params[:id]  %>
          <%= f.label :recipient %>
          <%= f.collection_select(:recipient_id, @users_for_invite, :id, :email, { prompt: true }, { class: "form-control" } ) %>
          <hr />
          <%= f.submit 'Send a Invite', class: 'btn btn-success'  %> 
        <% end %>
      </div>
    </div>
  </div>
</div>
