<div class="page-header" data-channel="rooms" data-room-id="<%= @session_vote.id %>" data-owner-room-id="<%= @session_vote.owner_id %>">
  <h1><%= @session_vote.title %> <small>Session Vote</small> </h1>
</div>

<div class="row">
  <% @users.each do |user|  %>
    <div class="col-lg-2 col-md-3 col-xs-4">
      <div class="card-container">
        <h4><%= user.name.capitalize  %></h4>
        <div class="card selectable">
          <div class="inner">
            <a class="card-label">?</a>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Invite a new user for your session vote</div>
      <div class="panel-body">
        <%= form_with model: @invite do |f| %>
          <%= f.hidden_field :session_vote_id, value: params[:id]  %>
          <%= f.label :recipient %>
          <%= f.collection_select(:recipient_id, @users, :id, :email, {}, { class: "form-control" } )  %>
          <%= f.submit "Send a Invite", class:"btn btn-success"  %>
        <% end %>
      </div>
    </div>
  </div>
</div>
