<div class="page-header" data-channel="rooms" data-room-id="<%= @session_vote.id %>" data-owner-room-id="<%= @session_vote.owner_id %>">
  <h1 class="title"><%= @session_vote.title %> <small>You need click on card to vote!</small> </h1>
  <% if @owner_session %>
    <a class="button pull-right btn btn-default" href="<%= room_path(@session_vote.id)%>">See as Owner</a>
  <% end %>
</div>

<div class="steps-group">
  <div class="row bs-wizard" style="border-bottom:0;">
    <% @steps.each_with_index do |step, index|  %>
      <div class="step-session col-md-<%= 12 / 2 %> bs-wizard-step <%= index > 0 ? '' : 'complete'%>">
        <div class="text-center bs-wizard-stepnum"><%= step.title %></div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="javascript:void(0)" active="complete" class="next-step bs-wizard-dot" step="<%= index %>"></a>
      </div>
    <% end  %>
  </div>
</div>

<hr />

<% @steps.each_with_index do |step, index| %>
  <div class="step-0<%= index %>" style="display:<%= index > 0 ? 'none': 'block'%>">
    <%= render partial: 'rooms/components/cards', 
               locals: { step_position: index, cards: step.cards, session_vote: @session_vote, step: step }  %>
  </div>
<% end %>
