<div class="page-header" 
                data-channel="rooms" 
                data-room-id="<%= @session_vote.id %>" 
                data-owner-room-id="<%= @session_vote.owner_id %>"
                data-room-status='<%= @session_vote.status %>'>

  <h1 class="room-title">Room: <%= @session_vote.title %> </h1 >
  <h4 class="user title">Task: - </h4> <span class='finish-label label label-warning' style='display:none;'>Finished</span>
  <% if @owner_session %>
    <a class="button pull-right btn btn-default" href="<%= room_path(@session_vote.id)%>">See as Owner</a>
  <% end %>
</div>

<ul class="nav nav-tabs">
  <% @steps.each_with_index do |step, index|  %>
    <li class="step-session <%= index == 0 ? 'active' : ''  %>">
      <a href="javascript:void(0)" active="active" step="<%= index %>" class="next-step">
        <%= step.title  %>
      </a>
    </li>
  <% end %>
</ul>

<hr />

<% @steps.each_with_index do |step, index| %>
  <div class="step-0<%= index %>" style="display:<%= index > 0 ? 'none': 'block'%>">
    <%= render partial: 'rooms/components/cards', 
               locals: { step_position: index, cards: step.cards, session_vote: @session_vote, step: step }  %>
  </div>
<% end %>
