<%- count_steps = @steps.count %>
<div class="page-header" 
                  data-channel="rooms" 
                  data-room-id="<%= @session_vote.id %>" 
                  data-owner-room-id="<%= @session_vote.owner_id %>"
                  data-room-status='<%= @session_vote.status %>'>

  <h1 class="room-title">
    Room: 
    <%= @session_vote.title %> 
    <%= link_to 'Finish Votation', '#', class: 'btn btn-danger', id: 'finish_votation', data: { toggle: 'modal', target: '#finish_votation_modal' } %> 
    <%= link_to 'New Votation', '#', class: 'btn btn-primary', data: { toggle: 'modal', target: '#start_votation_modal' } %> 
  </h1>

  <h4 class="title">Task: - </h4> <span class='finish-label label label-warning' style='display:none;'>Finished</span>
  <%= link_to 'See as User', room_path(@session_vote.id, as_user:1), class: 'button pull-right btn btn-default', target: '_blank' \
    if user_is_included_on_current_session_vote? %>
</div>

<br />
<div class='row'>
  <%= render partial: 'rooms/components/invites_section', 
    locals: { invite: @invite, users_for_invite: @users_for_invite }  %>

  <div class='col-md-6'>
    <table class='table tasks-votation'>
      <thead>
        <tr>
          <th>Users</th>
          <th><%= @steps.map(&:title).join('/') %></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user|  %>
          <tr>
            <td><%= user.name.capitalize %></td>
            <td>
              <% count_steps.times do |index| %>
                <span class='steps step-result-0<%= index %> label label-default' id='user-card-id-<%= user.id  %>'>? </span>
              <% end %>
            </td>
          </tr>
        <% end  %>
      </tbody>
    </table>
  </div>
</div>

<%= render partial: 'rooms/components/finish_votation', locals: { steps: @steps } %>
<%= render partial: 'rooms/components/start_votation', locals: { tasks: @session_vote.tasks } %>
